.app-container {
      text-align: center;
      padding: 30px;
}

.image {
      width: 360px;
      height: 280px;
}

.addition-section-container {
      padding: 30px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.form {
      width: 100%;
}

.number {
      color: #323f4b;
      background-color: #cbd2d9;
      font-family: 'Roboto';
      font-size: 30px;
      font-weight: bold;
      border-style: solid;
      border-width: 8px;
      border-color: #e4e7eb;
      border-radius: 12px;
      padding-left: 8px;
      padding-right: 8px;
      margin: 15px;
}

.operator {
      color: #c4c4c4;
      font-family: 'Roboto';
      font-size: 40px;
      padding-top: 15px;
}

.user-input {
      text-align: center;
      color: #323f4b;
      background-color: #cbd2d9;
      font-family: 'Roboto';
      font-size: 30px;
      font-weight: bold;
      width: 142px;
      height: 60px;
      border-style: solid;
      border-width: 8px;
      border-color: #e4e7eb;
      border-radius: 12px;
      margin: 20px;
}

.game-result {
      color: #ffffff;
      background-color: green;
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 500;
      padding: 10px;
}

.button {
      background-color: #007bff;
      color: #ffffff;
      border: none;
      height: 35px;
      width: 70px;
      border-radius: 5px;
      margin: 10px;
      cursor: pointer;
      font-size: 14px;
}

@media screen and (max-width: 576px) {
      .addition-section-container {
            padding: 10px 0;
      }
}